@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto\ 2/Roboto-Regular);
}

body{
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    margin: 0;
}
/* ------ HEADER ------ */
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 40px;
    font-weight: bold;
    font-size: small;
}

nav ul li {
    list-style-type: none;
    
}

nav ul {
    display:flex;
}

.d {
    border-right: 1px solid black;
}

header .logo {
    padding-right: 400px;
    height: 60px;
}

/* ------ MAIN ------ */

/* SECTION 1 */
.trv {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
}

 h1 {
    font-size: 3em;
    text-shadow: 0px 5px 10px grey;
    margin-top: 0;
    padding-top: 176px;
    padding-left: 300px;
    padding-right: 300px;
}

 .trv a {
    background-color: palevioletred;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 5px;
}

/* SECTION 2 */

.peps {
    text-align: center;
    margin: 3rem 0;
}

.peps p {
    color: grey;
    font-size: small;
    margin-top: -1rem;
}

.rh {
    display: flex;
    justify-content: center;
}

.col h3{
    margin-top: 0;
}

.col ul {
    list-style-type:none;
    color: grey;
    font-size:medium;
    padding-inline-start: 0px;
}

.col {
    margin-left: 100px;
}
.col li::before{
    content: "- ";
}

section .ligne {
    display: block;
    margin: auto;
    margin-top: 100px;
}

/* SECTION 3 */
.pls {
    text-align: center;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 450px;
}
.pls p {
    margin-right: 30px;
    margin-left: 50px;
}

.pls p {
    color: grey;
    font-size: small;
}

span {
    font-weight: bold;
    color: black;
}

.pls a {
    display: inline-block;
    text-decoration: none;
    color: palevioletred;
    border: 1px solid palevioletred;
    font-weight: bold;
    font-size: small;
    padding: 8px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 5px;
    margin-top: 20px
}

.coeur {
    display:flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
}

.coeur .rab {
    height: 50px;
    width: 50px;
}

