@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto\ 2/Roboto-Regular);
}

body{
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    margin: 0;
}
/* ------ HEADER ------ */
header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.debut ul li a{
    text-decoration: none;
    color: black;
    padding: 40px;
    font-weight: bold;
    font-size: small;
}

.debut ul li {
    list-style-type: none;
    
}

.debut ul {
    display:flex;
}

.d {
    border-right: 1px solid black;
}

header .logo {
    padding-right: 400px;
    height: 60px;
}

/* ------ MAIN ------ */

/* SECTION 1 */
.trv {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
}

 h1 {
    font-size: 3em;
    text-shadow: 0px 5px 10px grey;
    margin-top: 0;
    padding-top: 176px;
    padding-left: 300px;
    padding-right: 300px;
}

 .trv a {
    background-color: palevioletred;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 5px;
}

/* SECTION 2 */

.peps {
    text-align: center;
    margin: 3rem 0;
}

.peps p {
    color: grey;
    font-size: small;
    margin-top: -1rem;
}

.rh {
    display: flex;
    justify-content: center;
}

.col h3{
    margin-top: 0;
}

.col ul {
    list-style-type:none;
    color: grey;
    font-size:medium;
    padding-inline-start: 0px;
}

.col {
    margin-left: 100px;
}
.col li::before{
    content: "- ";
}

section .ligne {
    display: block;
    margin: auto;
    margin-top: 100px;
}

/* SECTION 3 */
.pls {
    text-align: center;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 450px;
}
.pls p {
    margin-right: 30px;
    margin-left: 50px;
}

.pls p {
    color: grey;
    font-size: small;
}

.gras {
    font-weight: bold;
    color: black;
}

.pls a {
    display: inline-block;
    text-decoration: none;
    color: palevioletred;
    border: 1px solid palevioletred;
    font-weight: bold;
    font-size: small;
    padding: 8px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 5px;
    margin-top: 20px
}

.coeur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10%;
    padding-right: 10px;
    padding-left: 10px;
}

.coeur .lol {
    width: 35%;
    padding-top: 5%;
}

.coeur .rab {
    height: 50px;
    width: 50px;
}

.lol p {
    color: grey;
    font-size: small;
    padding-right: 10px;
    padding-left: 10px;
}

.gal {
    font-size: smaller;
}

.sour {
    font-size: smaller;
}

/* SECTION 4 */

.nos {
    text-align: center;
}

.nos p {
    margin-top: 0;
    font-size: small;
    color: gray;
    margin-bottom: 40px;
}
.nos h2 {
    margin-bottom: 0;
    padding-right: 200px;
    padding-left: 200px;
}
.grs {
    color: black;
    font-weight: bold;
}


.evian {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 100px;
}

.evian li {
    list-style-type: none;
    color: grey;
    padding-bottom: 10px;
}

.evian a {
    display: inline-block;
    text-decoration: none;
    color: palevioletred;
    border: 1px solid palevioletred;
    padding: 8px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    transform: translate(-86px, 16px);
}

.evian div{
    width: 20%;
}

.ta .bi {
    padding-right: 60px;
    padding-left: 60px;
}

.evian ul {
    padding: 0px;
}

.tes h2::after {
    content: "";
    display: block;
    background-color: aqua;
    height: 10px;
    width: 150px;
    margin: 0% auto;
    position: relative;
    bottom: 10px;
    z-index: -1;
}

.ta h2::after {
    content: "";
    display: block;
    background-color: yellow;
    height: 10px;
    width: 200px;
    margin: 0% auto;
    position: relative;
    bottom: 10px;
    z-index: -1;
}

.to h2::after {
    content: "";
    display: block;
    background-color: purple;
    height: 10px;
    width: 300px;
    margin: 0% auto;
    position: relative;
    bottom: 10px;
    z-index: -1;
}
.trait{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/* SECTION 5 */
.ils {
    text-align: center;
    padding-top: 40px;
}


.marco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.sylvie {
    width: 370px;
    height: 290px;
    text-align: center;
    border: 1px solid #3bd8c5;
    margin-top: 50px;
}

.yep {
    position: relative;
    margin-top: -45px;
    border: 10px solid white;
}

.sylvie h4 {
    margin-top: -15px;
    color: grey;
    font-weight: normal;
}

.sylvie p {
    padding-right: 10px; ;
    padding-left: 10px;
    color: grey;
    font-size: small;
}

/* SECTION 6 */

.blog {
    text-align: center;
    margin-top: 80px;
}

.blog p {
    padding: 0px;
    margin-top: -11px;
    color: grey;
}

.super {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-top: 100px;
}
.lune {
    transform: translate(-100px, 0px);
}
.man {
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    position: relative;
    bottom: 25px;
}

.man h2 {
    margin-right: 500px;
    margin-bottom: -10px;
}

.man p {
    margin-bottom: 10px;
    padding-right: 148px;
    color: grey;
    font-size: small;
}

.man a {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    color: palevioletred;
    border: 1px solid palevioletred;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    transform: translate(0px, 180px);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-weight: bold;
    margin-bottom: 10px;
}

.e {
    
    border-top: 1px solid #3bd8c5;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.check {
    margin-top: 100px;
    display: flex;
    margin-left: 100px;
    justify-content: space-around;
}

.montre {
    margin-left: 160px;
}
.montre h2 {
    padding-right: 400px;
    margin-top: 0;
}

.montre a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid palevioletred;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    font-weight: bold;
    color: palevioletred;
    margin-top: 10px;
}

.bracelet {
    object-fit: contain;
    transform: translate(0px, -11px)
}

.montre p {
    color: grey;
    font-size: small;

}

/* FOOTER */

.fin {
    background-color: rgb(206, 205, 205);
    height: 200px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 400px;
    gap: 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

.contact h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: medium;
}

.contact p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
}

 .contact .pa {
    margin-top: 10px;
}

.imgfin {
    padding-right: 50px;
    border-right: 1px solid black;
}

.contact p span {
    font-weight: bold;
}

.navfi li {
    background-color:rgb(206, 205, 205);
    list-style: none;
    font-size: smaller;
    color: grey;
    padding-right: 10px;
    padding-left: 10px;
}

.navfi ul {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color:rgb(206, 205, 205);

}

.navfi .amg {
    border-right: 1px solid black;
}

.gras {
    color: black;
    font-weight: bold;
}